<dom-module id="poll-list">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;
      }
    </style>

    <custom-ajax
      auto
			id="poll-ajax"
		 	resource-url="polls"
		 	last-response="{{pollList}}">
 		</custom-ajax>

    <poll-list-header show-all="{{showAll}}"></poll-list-header>

    <template is="dom-repeat" items="[[displayPollList]]">
			<accordion-poll-list item="[[item]]"></accordion-poll-list>
		</template>

  </template>
  <script>
    Polymer({
      is: 'poll-list',

      properties: {
        showAll: {
          type: Boolean,
          observer: '_showAllChanged'
        },

        pollList: {
          type: Array
        },

        displayPollList: {
          type: Array
        }
      },

      listeners: {
        'poll-ajax.response': '_pollAjaxResponsed'
      },

      ready: function() {
        document.addEventListener('condition-changed', function(event) {
          this.conditionChanged(event);
        }.bind(this));
      },

      conditionChanged: function(event) {
        var searchCondition = {};
        if(event.detail.name) searchCondition.name = event.detail.name;
        if(event.detail.categoryId) searchCondition.categoryId = event.detail.categoryId;

        var pollAjax = this.$['poll-ajax'];
        pollAjax.params = searchCondition;
      },

      _pollAjaxResponsed: function(event) {
        this.filterPollList();
      },

      _showAllChanged: function(showAll) {
        this.filterPollList();
      },

      filterPollList: function() {
        if(this.pollList && this.showAll) {
          this.displayPollList = this.pollList;
        } else if (this.pollList) {
          this.displayPollList = this.pollList.filter(function(poll) {
            return (!poll.join);
          })
        }
      }
    })
  </script>
</dom-module>
