<dom-module id="poll-join-detail">
  <template>
    <style>
      :host {
        padding: 3%;
      }
      .flex {
        @apply(--layout-flex);
      }
      .horizontal {
        @apply(--layout-horizontal);
      }
      .vertical {
        @apply(--layout-vertical);
      }
      #check-box {
        padding: 5%;
      }
    </style>

    <paper-item>
      <iron-icon icon="av:playlist-add-check"></iron-icon>
      <span class="container">[[questionInfo.name]]</span>
    </paper-item>

    <paper-card class="vertical container" id="checkbox-list">
      <template is="dom-repeat" items="[[questionInfo.options]]">
        <paper-radio-button id="check-box" option-id="[[item.id]]" current-count="[[item.count]]" on-tap="_checkBoxTapped" noink>[[item.name]]</paper-radio-button>
      </template>
    </paper-card>

    <div class="horizontal">
      <paper-button on-tap="nextBtnTapped">next</paper-button>
      <paper-button on-tap="previousBtnTapped">previous</paper-button>
    </div>
  </template>
  <script>
    Polymer({
      is: 'poll-join-detail',

      properties: {
        questionInfo: {
          type: Object
        }
      },
      
      nextBtnTapped: function() {
        this.fire('poll-join-next');
      },

      previousBtnTapped: function() {
        this.fire('poll-join-previous');
      },

      _getCheckBoxList: function() {
        var containerElements = this.$['checkbox-list'].children;
        var checkboxList = [];

        for(var i = 0; i < containerElements.length; i++) {
          if(containerElements[i].id == 'check-box') {
            checkboxList.push(containerElements[i]);
          };
        };

        return checkboxList
      },

      _getCheckBoxActveCount: function() {
        var trueCount = 0;
        this._getCheckBoxList().forEach(function(checkbox) {
          if(checkbox.active) trueCount++;
        });

        return trueCount;
      },

      _checkBoxTapped: function(event) {
        if(this._getCheckBoxActveCount() > this.questionInfo.multyCheckLimit) event.target.active = false;
      },

      checkValidation: function() {
        return (this._getCheckBoxActveCount() == 0) ? false : true;
      },

      getAnswer: function() {
        var answerIds = [];
        this._getCheckBoxList().forEach(function(checkBox) {
          if(checkBox.active) {
            answerIds.push(checkBox.optionId);
          }
        });

        return answerIds;
      }
    })
  </script>
</dom-module>
