<dom-module id="poll-join">
  <template>
    <style>
      .flex {
        @apply(--layout-flex);
      }
      .vertical {
        @apply(--layout-vertical);
      }
    </style>

    <custom-ajax
      id="get-questions-ajax"
      method="get"
      last-response="{{questionList}}">
    </custom-ajax>

    <custom-ajax
      id="add-option-count-ajax"
      resource-url="options/add_count"
      method="POST"
      content-type="application/json">
    </custom-ajax>

    <custom-ajax
      id="add-poll-count-ajax"
      resource-url="polls/add_count"
      method="POST"
      content-type="application/json">
    </custom-ajax>

    <custom-ajax
      id="add-poll-history-ajax"
      method="POST"
      resource-url="poll_histories"
      content-type="application/json">
    </custom-ajax>

    <iron-pages class="vertical flex" id="container" selected="[[selectedPage]]"></iron-pages>
  </template>
  <script>
    Polymer({
      is: 'poll-join',

      properties: {
        selectedPage: {
          type: Number,
          value: 0
        },

        poll: {
          type: Object,
          observer: '_pollChanged'
        },

        questionList: {
          type: Array,
          observer: '_questionListChanged'
        }
      },

      listeners: {
        'add-option-count-ajax.response': 'addOptionCountResponsed',
        'add-poll-history-ajax.response': 'duplicateCheckResponsed'
      },

      ready: function() {
        document.addEventListener('poll-join-selected', function(event) {
          this.poll = event.detail;
        }.bind(this));

        document.addEventListener('poll-join-next', function(event) {
          this.pollJoinNext();
        }.bind(this));

        document.addEventListener('poll-join-previous', function(event) {
          this.pollJoinPrevious();
        }.bind(this));
      },

      _pollChanged: function(poll) {
        this.poll = poll;
        var getQuestionsAjax = this.$['get-questions-ajax'];
        getQuestionsAjax.resourceUrl = 'questions/' + this.poll.id;
        getQuestionsAjax.generateRequest();
      },

      _questionListChanged: function(questionList) {
        this.clearContainer();
                
        questionList.forEach(function(questionInfo) {
          var pollJoinDetail = document.createElement('poll-join-detail');
          pollJoinDetail.questionInfo = questionInfo;
          this.$['container'].appendChild(pollJoinDetail);
        }.bind(this));
      },

      pollJoinNext: function() {
        if(this.selectedPage < this.questionList.length - 1) {
          this.selectedPage++;
        } else if (this.selectedPage == this.questionList.length - 1) {
          if(this.checkValidations()) this.saveAnswers();
        }
      },

      pollJoinPrevious: function() {
        if(this.selectedPage > 0) this.selectedPage--;
      },

      checkValidations: function() {
        var pollJoinDetails = this.$['container'].children;

        for(var i = 0; i <= this.questionList.length - 1; i++) {
          if(!pollJoinDetails[i].checkValidation()) {
            this.selectedPage = i;
            return false;
          }
        }
        return true;
      },

      saveAnswers: function() {
        var addHistoryAjax = this.$['add-poll-history-ajax'];
        addHistoryAjax.body = { pollId: this.poll.id };
        addHistoryAjax.generateRequest();
      },

      duplicateCheckResponsed: function(event) {
        var response = event.detail.response;
        if(response) {
          var pollJoinDetails = this.$['container'].children;

          var selectedOptions = [];
          for(var i = 0; i <= this.questionList.length - 1; i++) {
            pollJoinDetails[i].getAnswer().forEach(function(answer) {
              selectedOptions.push(answer);
            })
          };

          var addOptionCntAjax = this.$['add-option-count-ajax'];
          addOptionCntAjax.body = {
            pollId: this.poll.id,
            options: selectedOptions
          };

          addOptionCntAjax.generateRequest();          
        } else {
          this.fire('show-message-dialog', {
            title: '설문을 등록할 수 없습니다.',
            message: '이미 참여한 설문 입니다.'
          });

          this.clearContainer();
          page('/polls');
        }
      },

      addOptionCountResponsed: function(event) {
        var response = event.currentTarget.lastResponse;
        if(response) {
          this.fire('show-message-dialog', {
            title: 'Thank you for Join the poll',
            message: 'Your answers successfully applied.',
            confirmCallback: function() {
              this.fire('condition-changed')
            }.bind(this),
            cancelCallback: function() {
              this.fire('condition-changed')
            }.bind(this)
          })
        } else {
          this.fire('show-message-dialog', {
            title: 'Sorry for you',
            message: 'Your answers not applied successfully.'
          })
        }

        page('/polls');
      },

      clearContainer: function() {
        var container = this.$['container'];
        while(container.hasChildNodes()) { container.removeChild(container.childNodes[0]); };
      }      
    })
  </script>
</dom-module>
