<dom-module id="poll-join">
  <template>
    <style>
      .flex {
        @apply(--layout-flex);
      }
      .vertical {
        @apply(--layout-vertical);
      }
    </style>

    <custom-ajax
      id="get-questions-ajax"
      method="get"
      last-response="{{questionList}}">
    </custom-ajax>

    <custom-ajax
      id="add-option-count-ajax"
      resource-url="options/add_count"
      method="POST"
      content-type="application/json">
    </custom-ajax>

    <custom-ajax
      id="add-poll-count-ajax"
      resource-url="polls/add_count"
      method="POST"
      content-type="application/json">
    </custom-ajax>

    <iron-pages class="vertical flex" id="container" selected="[[selectedPage]]"></iron-pages>
  </template>
  <script>
    Polymer({
      is: 'poll-join',

      properties: {
        selectedPage: {
          type: Number,
          value: 0
        },

        poll: {
          type: Object,
          observer: '_pollChanged'
        },

        questionList: {
          type: Array,
          observer: '_questionListChanged'
        }
      },

      listeners: {
        'add-option-count-ajax.response': 'addOptionCountResponsed'
      },

      ready: function() {
        document.addEventListener('poll-join-selected', function(event) {
          this.poll = event.detail;
        }.bind(this));

        document.addEventListener('poll-join-next', function(event) {
          this.pollJoinNext();
        }.bind(this));

        document.addEventListener('poll-join-previous', function(event) {
          this.pollJoinPrevious();
        }.bind(this));
      },

      _pollChanged: function(poll) {
        this.poll = poll;
        var getQuestionsAjax = this.$['get-questions-ajax'];
        getQuestionsAjax.resourceUrl = 'questions/' + this.poll.id;
        getQuestionsAjax.generateRequest();
      },

      _questionListChanged: function(questionList) {
        questionList.forEach(function(questionInfo) {
          var pollJoinDetail = document.createElement('poll-join-detail');
          pollJoinDetail.questionInfo = questionInfo;
          this.$['container'].appendChild(pollJoinDetail);
        }.bind(this));
      },

      pollJoinNext: function() {
        if(this.selectedPage < this.questionList.length - 1) {
          this.selectedPage++;
        } else if (this.selectedPage == this.questionList.length - 1) {
          if(this.checkValidations()) this.saveAnswers();
        }
      },

      pollJoinPrevious: function() {
        if(this.selectedPage > 0) this.selectedPage--;
      },

      checkValidations: function() {
        var pollJoinDetails = this.$['container'].children;

        for(var i = 0; i <= this.questionList.length - 1; i++) {
          if(!pollJoinDetails[i].checkValidation()) {
            this.selectedPage = i;
            return false;
          }
        }
        return true;
      },

      saveAnswers: function() {
        var pollJoinDetails = this.$['container'].children;

        var selectedOptions = [];
        for(var i = 0; i <= this.questionList.length - 1; i++) {
          pollJoinDetails[i].getAnswer().forEach(function(answer) {
            selectedOptions.push(answer);
          })
        };

        var addOptionCntAjax = this.$['add-option-count-ajax'];
        addOptionCntAjax.body = {
          pollId: this.poll.id,
          options: selectedOptions
        };

        addOptionCntAjax.generateRequest();
        this.fire('show-message-dialog', {
          title: 'Saving your answer',
          text: 'Now Your Answeris Saving...'
        })
      },

      addOptionCountResponsed: function(event) {
        var response = event.currentTarget.lastResponse;
        if(response) {
          this.fire('show-message-dialog', {
            title: 'Thank you for Join the poll',
            message: 'Your answers successfully applied.'
          })
        } else {
          this.fire('show-message-dialog', {
            title: 'Soory for you',
            message: 'Your answers not applied successfully.'
          })
        }
        page('/polls');
      }
    })
  </script>
</dom-module>
