<dom-module id="sign-in">
  <template>
    <style>
      :host {
        display: block;
        background: linear-gradient( to bottom, #3CB5A3, #23ACDB );
      }
      .top {
        height: 28vh;
      }
      .logo-img {
        display: block;
        margin: auto;
        height: 16vh;
      }
      .container {
        height: 100%;
        background-color: #FFFFFF;
        border-radius: 5px;
        margin: 0 10vw 0 10vw;
        padding-top: 5vh;
      }
      .container mg-input {
        padding: 1vh 0 1vh 0;
      }
      .inner-container {
        margin: auto;
        padding: 1vh 0 1vh 0;
      }
      .text-container {
        display: block;
        margin: auto;
        width: 55vw;
      }
      mg-input {
        --mg-input-height: 6vh;
        --mg-input-width: 55vw;
        --mg-font-size: 3vh;
      }
      mg-button {
        --mg-button-color: linear-gradient( to bottom, #3BB5A3, #00A2D9 );
        --mg-button-height: 6vh;
        --mg-button-width: 55vw;
        --mg-button-font-size: 3vh;
      }
      .sign-up-btn {
        font-size: 2vh;
        padding: 1vh 0 1vh 0;
        color: #FE0000;
      }
      .forget-account-btn {
        font-size: 2vh;
        padding: 1vh 0 1vh 0;
        color: #00A100;
      }
    </style>

    <custom-ajax
      id="sign-in-ajax"
      resource-url="auth/sign_in"
      method="POST"
      content-type="application/json"
      last-response="{{userInfo}}">
    </custom-ajax>

    <div class="top"></div>
    
    <img class="logo-img" src="./images/sign_in_logo.png">
    
      <div class="container">
        <div class="inner-container">
          <mg-input hide-label hide-clear-btn placeholder="  이메일" value="{{account}}"></mg-input>
        </div>
        <div class="inner-container">
          <mg-input hide-label hide-clear-btn placeholder="  비밀번호" type="password" value="{{password}}" on-keypress="_keyPressed"></mg-input>
        </div>
        <div class="inner-container">
          <mg-button button-text="들어가기" on-tap="signIn"></mg-button>
        </div>
        <div class="inner-container">
          <div class="text-container">
            <li class="sign-up-btn" on-tap="signUp">새로운 계정을 생성합니다</li>
            <li class="forget-account-btn" on-tap="forgetAccount">아이디/비밀번호 찾기</li>
          </div>
        </div>
      </div>
  </template>

  <script>
    Polymer({
      is: 'sign-in',

      properties: {
        inputId: {
          type: String,
          value: 'Input ID'
        },

        inputPw: {
          type: String,
          value: 'Input Password'
        },

        account: {
          type: String
        },

        password: {
          type: String
        },

        userInfo: {
          type: Object
        }
      },

      listeners: {
        'sign-in-ajax.response': 'signInResponsed'
      },

      ready: function() {
        this.fire('hide-header-toolbar');
      },

      _keyPressed: function(event) {
        if(event.charCode == 13) {
          this.signIn();
        }
      },

      signIn: function() {
        if(this.account && this.password) {
          var signInAjax = this.$['sign-in-ajax'];
          signInAjax.body = {
            account: this.account,
            password: this.password
          };
          this.fire('spinner-toggle', true);
          signInAjax.generateRequest();
        }
      },

      signInResponsed: function(event) {
        var response = event.currentTarget.lastResponse;
        this.fire('spinner-toggle', false);
        if(response) {
          this.fire('set-storage', { key: 'userInfo', value: response });
          location.reload();
        } else {
          this.fire('toast-toggle', 'Login Failed');
        }
      },

      signUp: function() {
        var content = document.createElement('sign-up');
        var event = {
          content: content,
          dialogConfig: {
            modal: true,
            entryAnimation: 'slide-from-left-animation',
            exitAnimation: 'slide-right-animation'
          }
        };

        this.fire('dialog-open', event);
      }
    })
  </script>
</dom-module>
