<dom-module id="sign-in">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }
      #container {
        padding: 20% 20% 0 20%;
      }
      mg-input #container {
        border-width: : 1px 1px 1px 1px;
      }
    </style>

    <custom-ajax
      id="sign-in-ajax"
      resource-url="auth/sign_in"
      method="POST"
      content-type="application/json"
      last-response="{{userInfo}}">
    </custom-ajax>

    <div id="container">
      <mg-input hide-label hide-clear-btn placeholder="ID" value="{{account}}"></mg-input>
      <mg-input hide-label hide-clear-btn placeholder="Password" type="password" value="{{password}}"></mg-input>
    </div>
    <mg-button button-text="LOG IN" on-tap="signIn"></mg-button>
  </template>

      <!-- <paper-button class="button" on-tap="signUp">Sign Up</paper-button>
      <paper-button class="button">Forget Your ID/Password?</paper-button> -->

  <script>
    Polymer({
      is: 'sign-in',

      properties: {
        inputId: {
          type: String,
          value: 'Input ID'
        },

        inputPw: {
          type: String,
          value: 'Input Password'
        },

        account: {
          type: String
        },

        password: {
          type: String
        },

        userInfo: {
          type: Object
        }
      },

      listeners: {
        'sign-in-ajax.response': 'signInResponsed'
      },

      signIn: function() {
        if(this.account && this.password) {
          var signInAjax = this.$['sign-in-ajax'];
          signInAjax.body = {
            account: this.account,
            password: this.password
          };
          this.fire('spinner-toggle', true);
          signInAjax.generateRequest();
        }
      },

      signInResponsed: function(event) {
        var response = event.currentTarget.lastResponse;
        this.fire('spinner-toggle', false);
        if(response) {
          console.log(response);
          this.fire('set-storage', { key: 'userInfo', value: response });
          location.reload();
        } else {
          this.fire('toast-toggle', 'Login Failed');
        }
      },

      signUp: function() {
        var content = document.createElement('sign-up');
        var event = {
          content: content,
          dialogConfig: {
            modal: true,
            entryAnimation: 'slide-from-left-animation',
            exitAnimation: 'slide-right-animation'
          }
        };

        this.fire('dialog-open', event);
      }
    })
  </script>
</dom-module>
