<dom-module id="profile-view">
	<template>
		<style>
			:host {
				@apply(--layout-flex);
				@apply(--layout-vertical);
			}
			.header {
				@apply(--layout-horizontal);
				padding: 10px;
			}
			.body {
				@apply(--layout-vertical);
				@apply(--layout-flex);
				height: 300px;
				padding: 3%;
			}
			.body-content {
				@apply(--layout-vertical);
				@apply(--layout-flex);
			}
			.left-section {
				@apply(--layout-vertical);
				padding-right: 10px;
			}
			.left-section .image-section {
				@apply(--layout-horizontal);
				@apply(--layout-center);
				@apply(--layout-flex);
			}
			iron-image {
				width: 100px;
				height: 100px;
				border-radius: 100%;
			}
			.left-section paer-button {
				@apply(--layout-end);
			}
			.right-section {
				@apply(--layout-vertical);
				@apply(--layout-flex-3);
			}
			.label {
				padding-left: 3%;
			}
			section {
				@apply(--layout-vertical);
				width: 100%;
				height: 250px;
			}
			section paper-dialog-scrollable {
		    @apply(--layout-flex);
				overflow-x: hidden;
				background: white;
		  }
			.favorite-list {
				padding: 3%;
			}
			paper-button {
				@apply(--layout-flex);
			}
		</style>

		<custom-ajax
			id="update-user-info"
			method="POST"
			content-type="application/json">
		</custom-ajax>

		<custom-ajax
			id="user-category-ajax"
			method="GET"
			last-response="{{userCategories}}">
		</custom-ajax>

		<custom-ajax
      id="delete-category-ajax"
      method="DELETE">
    </custom-ajax>

    <custom-ajax
    	id="file-upload-ajax"
    	method="POST">
  	</custom-ajax>

  	<custom-ajax
  		id="profile-read-ajax"
  		method="POST">
		</custom-ajax>

		<div class="header">
			<div class="left-section">
				<div class="image-section">
					<iron-image src="[[imageSrc]]" on-tap="changeProfilePicture"></iron-image>
				</div>
				<paper-button id="save-btn" on-tap="saveBtnTapped">Save</paper-button>
			</div>

			<div class="right-section">
				<paper-input label="Name" value="{{name}}"></paper-input>
				<paper-input label="E-Mail" value="{{email}}"></paper-input>
				<paper-input label="Birth Date" value="{{birthDate}}" type="date"></paper-input>
				<paper-input label="Gender" value="{{gender}}"></paper-input>
			</div>
		</div>

		<span class="label">My Favorite List</span>

		<div class="favorite-list">
			<section>
			  <paper-dialog-scrollable>
					<template is="dom-repeat" items="{{userCategories}}">
						<iron-swipeable-container>
						  <paper-item id="[[item.id]]">[[item.name]] / [[item.description]]</paper-item>
						</iron-swipeable-container>
					</template>
			  </paper-dialog-scrollable>
			</section>
		</div>

		<paper-button on-tap="addCategory">ADD</paper-button>
	</template>
	<script>
		Polymer({
			is: 'profile-view',

			properties: {

				resourceUrl: {
					type: String
				},

				userInfo: {
					type: Object,
					observer: 'userInfoChanged'
				},

				imageSrc: {
					type: String,
					value: 'http://lorempixel.com/600/400'
				}
			},

			listeners: {
				'iron-swipe': 'itemSwiped',
				'delete-category-ajax.response': 'deleteCategoryResponsed',
				'profile-read-ajax.response': '_profileReadResponsed'
			},

			ready: function() {
				document.addEventListener('category-changed', function() {
					this.refreshUserInfo();
				}.bind(this));

				this.userInfo = JSON.parse(localStorage.getItem('userInfo'));
			},

			userInfoChanged: function(userInfo) {
				console.log(userInfo)
				if(userInfo && userInfo.id) {
					this.name =  userInfo.name;
					this.email = userInfo.email;
					this.birthDate = userInfo.birthDate;
					this.gender = userInfo.gender;
					var imagePath = (userInfo.attachment && userInfo.attachment.path && userInfo.attachment.id) ? userInfo.attachment.path + '/' + userInfo.attachment.id : '404 image here';
					this.readImageMeta(imagePath)

					var userCategoryAjax = this.$['user-category-ajax'];
					userCategoryAjax.resourceUrl = 'user_categories/' + userInfo.id;
					userCategoryAjax.generateRequest();
				}
			},

			readImageMeta: function(imagePath) {
				var profileReadAjax = this.$['profile-read-ajax'];
				profileReadAjax.resourceUrl = 'attachments/read';
				profileReadAjax.body = {
					path: imagePath
				};

				profileReadAjax.generateRequest();
			},

			_profileReadResponsed: function(event) {
				var response = event.detail.response;
				this.imageSrc = this.response.imageSrc;
			},

			saveBtnTapped: function() {
				var updateUserInfoAjax = this.$['update-user-info'];
				updateUserInfoAjax.resourceUrl = 'users/' + this.userInfo.id;
				var userInfo = {
					id: this.userInfo.id,
					name: this.name,
					email: this.email,
					birthDate: this.birthDate,
					gender: this.gender
				};
				this.fire('set-storage', { key: 'userInfo', value: userInfo });
				updateUserInfoAjax.body = userInfo;
				updateUserInfoAjax.generateRequest();
			},

			addCategory: function() {
				var addDialog = document.createElement('profile-view-category-add');
				addDialog.userCategories = this.userCategories;
				this.fire('dialog-open', {
					content: addDialog,
					closeCallback: function() {
						this.fire('category-changed');
					},
					dialogConfig: {
						title: 'Categories',
						modal: true,
						entryAnimation: 'slide-from-left-animation',
						exitAnimation: 'slide-right-animation'
					}
				});
			},

			refreshUserInfo: function() {
				var userCategoryAjax = this.$['user-category-ajax'];
				userCategoryAjax.resourceUrl = 'user_categories/' + this.userInfo.id;
				userCategoryAjax.generateRequest();
			},

			refreshUserResponsed: function(event) {
				var userInfo = event.detail.response;
				this.fire('set-storage', { key: 'userInfo', value: userInfo });
				this.userInfoChanged(userInfo)
			},

			itemSwiped: function(event) {
				var deleteCategoryId = event.detail.target.id;
				var deleteCategoryAjax = this.$['delete-category-ajax'];
				deleteCategoryAjax.resourceUrl = 'user_categories/' + this.userInfo.id + '/' + deleteCategoryId;
				deleteCategoryAjax.generateRequest();
			},

			deleteCategoryResponsed: function() {
				this.fire('category-changed');
			},

			changeProfilePicture: function() {
				navigator.camera.cleanup();				

				var options = {
					quality: 100,
					destinationType: Camera.DestinationType.FILE_URI,
					sourceType: Camera.PictureSourceType.SAVEDPHOTOALBUM,
					allowEdit: true,
					encodingType: Camera.EncodingType.JPEG,
					targetWidth: 100,
					targetHeight: 100,
					mediaType: Camera.MediaType.PICTURE
				};

				navigator.camera.getPicture(image => {
					this.saveImageFIle(image)
				}, error => {
					alert(error);
				}, options);  
			},

			saveImageFIle: function(image) {
				var options = new FileUploadOptions();
				options.fileKey = 'profile-image';
				options.fileName = image.substr(image.lastIndexOf('/') + 1);
				options.mimeType = 'image/jpeg';

				var fileTransfer = new FileTransfer();
					fileTransfer.upload(image, encodeURI('http://192.168.0.103:3000/users/profile/upload'), function(response) {
					console.log(response);
				}, function(error) {
					console.error(error);
				}, options);
			}
		})
	</script>
</dom-module>
