<dom-module id="profile-view-category-add">
  <template>
    <style>
      .list {
        @apply(--layout-flex);
      }
      .category-container {
        @apply(--layout-horizontal);
        @apply(--layout-center);
        padding: 10px;
      }
      .category-list {
        @apply(--layout-flex);
      }
      .button-group {
        @apply(--layout-horizontal);
      }
      paper-button {
        @apply(--layout-flex);
        background-color: var(--paper-green-500);
        color: white;
      }
    </style>
    <custom-ajax
      id="category-ajax"
      method="GET"
      resource-url="categories"
      last-response="{{categories}}">
    </custom-ajax>

    <custom-ajax
      id="add-category-ajax"
      method="POST"
      content-type="application/json">
    </custom-ajax>

    <template is="dom-repeat" items="[[categoryList]]">
      <div class="category-container">
        <div class="category-list">[[item.name]] / [[item.description]]</div>
        <paper-checkbox checked="{{item.active}}"></paper-checkbox>
      </div>
    </template>

    <div class="button-group">
      <paper-button on-tap="cancelBtnTapped">cacel</paper-button>
      <paper-button on-tap="saveBtnTapped">save</paper-button>
    </div>
  </template>
  <script>
    Polymer({
      is: 'profile-view-category-add',

      properties: {
        categories: {
          type: Array,
          observer: 'categoriesResponsed'
        },

        userCategories: {
          type: Array
        }
      },

      listeners: {
        'add-category-ajax.response': 'saveAjaxReponsed'
      },

      attached: function() {
        this.userInfo = JSON.parse(localStorage.getItem('userInfo'));
        this.$['category-ajax'].generateRequest();
      },

      categoriesResponsed: function(categories) {
        this.userCategories.forEach(function(userCategory) {
          categories.forEach(function(category) {
            if(userCategory.id == category.id) {
              category.active = true;
            };
          });
        });

        this.categoryList = categories;
      },

      saveBtnTapped: function() {
        var userCategories = [];
        this.categoryList.forEach(function(item) {
          if(item.active == true) {
            userCategories.push({
              userId: this.userInfo.id,
              categoryId: item.id
            });
          }
        }.bind(this));

        var addCategoryAjax = this.$['add-category-ajax'];
        addCategoryAjax.resourceUrl = 'user_categories/' + this.userInfo.id;
        addCategoryAjax.body = userCategories;

        addCategoryAjax.generateRequest();
      },

      cancelBtnTapped: function() {
        this.fire('dialog-close');
      },

      saveAjaxReponsed: function(response) {
        this.fire('dialog-close');
      }
    })
  </script>
</dom-module>
