<dom-module id="profile-view">
	<template>
		<style>
			:host {
				@apply(--layout-flex);
				@apply(--layout-vertical);
			}
			.header {
				@apply(--layout-horizontal);
				padding: 10px;
			}
			.body {
				@apply(--layout-vertical);
				@apply(--layout-flex);
				height: 300px;
				padding: 3%;
			}
			.body-content {
				@apply(--layout-vertical);
				@apply(--layout-flex);
			}
			.left-section {
				@apply(--layout-vertical);
				padding-right: 10px;
			}
			.left-section .image-section {
				@apply(--layout-horizontal);
				@apply(--layout-center);
				@apply(--layout-flex);
			}
			iron-image {
				width: 100px;
				height: 100px;
				border-radius: 100%;
			}
			.left-section paer-button {
				@apply(--layout-end);
			}
			.right-section {
				@apply(--layout-vertical);
				@apply(--layout-flex-3);
			}
			.label {
				padding-left: 3%;
			}
			section {
				@apply(--layout-vertical);
				width: 100%;
				height: 300px;
			}
			section paper-dialog-scrollable {
		    @apply(--layout-flex);
				overflow-x: hidden;
				background: white;
		  }
			.favorite-list {
				padding: 3%;
			}
			paper-button {
				@apply(--layout-flex);
			}
		</style>

		<custom-ajax
			id="update-user-info"
			method="post"
			content-type="application/json">
		</custom-ajax>

		<custom-ajax
			id="user-category-ajax"
			method="get"
			last-response="{{userCategories}}">
		</custom-ajax>

		<custom-ajax
      id="save-category-ajax"
      method="POST"
      content-type="application/json">
    </custom-ajax>

		<custom-ajax
			id="refresh-user-info">
		</custom-ajax>

		<div class="header">
			<div class="left-section">
				<div class="image-section">
					<iron-image src="http://lorempixel.com/600/400"></iron-image>
				</div>
				<paper-button id="save-btn" on-tap="saveBtnTapped">Save</paper-button>
			</div>

			<div class="right-section">
				<paper-input label="Name" value="{{name}}"></paper-input>
				<paper-input label="E-Mail" value="{{email}}"></paper-input>
				<paper-input label="Birth Date" value="{{birthDate}}" type="date"></paper-input>
				<paper-input label="Gender" value="{{gender}}"></paper-input>
			</div>
		</div>

		<span class="label">My Favorite List</span>

		<div class="favorite-list">
			<section>
			  <paper-dialog-scrollable>
					<template is="dom-repeat" items="[[userCategories]]">
						<iron-swipeable-container>
						  <paper-item id="[[item.id]]">[[item.name]] / [[item.description]]</paper-item>
						</iron-swipeable-container>
					</template>
			  </paper-dialog-scrollable>
			</section>
		</div>

		<paper-button on-tap="addCategory">ADD</paper-button>
	</template>
	<script>
		Polymer({
			is: 'profile-view',

			properties: {

				resourceUrl: {
					type: String
				},

				userInfo: {
					type: Object,
					observer: 'userInfoChanged'
				}
			},

			listeners: {
				'update-user-info.response': 'refreshUserInfo',
				'iron-swipe': 'itemSwiped',
				'refresh-user-info.response': 'refreshUserResponsed',
				'save-category-ajax.response': 'refreshUserInfo'
			},

			ready: function() {
				document.addEventListener('category-changed', function() {
					this.refreshUserInfo();
				}.bind(this));

				this.userInfo = JSON.parse(localStorage.getItem('userInfo'));
			},

			userInfoChanged: function(userInfo) {
				if(userInfo && userInfo.id) {
					this.name =  userInfo.name;
					this.email = userInfo.email;
					this.birthDate = userInfo.birthDate;
					this.gender = userInfo.gender;

					var userCategoryAjax = this.$['user-category-ajax'];
					userCategoryAjax.resourceUrl = 'user_categories/' + userInfo.id;
					userCategoryAjax.generateRequest();
				}
			},

			saveBtnTapped: function() {
				var updateUserInfoAjax = this.$['update-user-info'];
				updateUserInfoAjax.resourceUrl = 'users/' + this.userInfo.id;
				updateUserInfoAjax.body = {
					name: this.name,
					email: this.email,
					birthDate: this.birthDate,
					gender: this.gender
				};
				updateUserInfoAjax.generateRequest();
			},

			addCategory: function() {
				var addDialog = document.createElement('profile-view-category-add');
				addDialog.userCategories = this.userCategories;
				this.fire('dialog-open', {
					content: addDialog,
					openCallback: null,
					closeCallback: null,
					dialogConfig: {
						title: 'Categories',
						modal: true,
						entryAnimation: 'slide-from-top-animation',
						exitAnimation: 'slide-up-animation'
					}
				});
			},

			refreshUserInfo: function() {
				var refreshUserInfoAjax = this.$['refresh-user-info'];
				refreshUserInfoAjax.resourceUrl = 'users/' + this.userInfo.id;
				refreshUserInfoAjax.generateRequest();
			},

			refreshUserResponsed: function(event) {
				var userInfo = event.currentTarget.lastResponse;
				this.fire('set-storage', { key: 'userInfo', value: userInfo });
				this.userInfoChanged(userInfo)
			}

			// itemSwiped: function(event) {
			// 	var removeCategoryId = event.detail.target.id;
			// 	if(this.favoriteCategories.length > 0) {
			// 		for(var i = 0; i < this.favoriteCategories.length; i++) {
			// 			if(this.favoriteCategories[i].id == removeCategoryId) {
			// 				this.favoriteCategories.splice(i, 1);
			// 			}
			// 		}
			// 	}
			//
			// 	this.saveFavoriteCategories(this.favoriteCategories);
			// },

			// saveFavoriteCategories: function(favoriteCategories) {
			// 	var saveCategoryAjax = this.$['save-category-ajax'];
      //   saveCategoryAjax.resourceUrl = 'users/categories/' + this.userInfo.id;
      //   saveCategoryAjax.body = {
      //     favoriteCategories: JSON.stringify(favoriteCategories)
      //   };
			//
      //   saveCategoryAjax.generateRequest();
			// }
		})
	</script>
</dom-module>
