<dom-module id="main-page">
	<template>
		<style>
			:host {
				display: block;
				@apply(--layout-flex);
				@apply(--layout-vertical);
			}
			.flex {
				@aaply(--layout-flex);
			}
			.card-container {
				@apply(--layout-horizontal);
				margin: 1vw;
			}
			paper-card {
				@apply(--layout-flex);
			}
		</style>
		<custom-ajax
			id="my-poll-ajax"
		 	resource-url="polls/my_polls"
		 	last-response="{{myPolls}}">
	 	</custom-ajax>

	 	<custom-ajax
	 		id="top-100-ajax"
	 		resource-url="polls/top/100"
	 		last-response="{{top100}}">
 		</custom-ajax>

 		<custom-ajax
 			id="poll-by-tags"
 			resource-url="polls/tags"
 			last-response="{{pollsByTags}}">
		</custom-ajax>

		<div id="content" class="content">
			<div class="card-container"></div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'main-page',

			observers: [
				'_dataChanged(myPolls)',
				'_dataChanged(top100)',
				'_dataChanged(pollsByTags)'
			],
		
			ready: function() {
				document.addEventListener('mg-tab-view-selected', function(event) {
					var selectedTap = event.detail;
					this._clearCards();
					if(selectedTap == 'my-poll') {
						this.$['my-poll-ajax'].generateRequest();
					} else if (selectedTap == 'top') {
						this.$['top-100-ajax'].generateRequest();
					} else if (selectedTap == 'tag') {
						this.$['poll-by-tags'].generateRequest();
					}
				}.bind(this));
			},

			searchIconTapped: function(event) {
				console.log(event);
			},

			_clearCards: function(event) {
				var content = this.querySelector('#content');
				while(content.childElementCount) {
					content.removeChild(content.firstChild);
				}

				var cardContainer = document.createElement('div');
				cardContainer.classList.add('card-container');
				cardContainer.classList.add('main-page');

				content.appendChild(cardContainer);
			},

			_dataChanged: function(data) {
				if(!data) return;
				data.forEach(function(item) {
					var cardElement = document.createElement('mg-image-card');
					cardElement.setData(item);
					var containers = this.querySelectorAll('.card-container');
					var lastContainer = containers[containers.length - 1];

					if(lastContainer.childElementCount == 2) {
						lastContainer = document.createElement('div');
						lastContainer.classList.add('card-container');
						lastContainer.classList.add('main-page');

						var content = this.querySelector('.content');
						content.appendChild(lastContainer);
					}

					lastContainer.appendChild(cardElement);
				}.bind(this));
			}
		})
	</script>
</dom-module>
