<dom-module id="main-page">
	<template>
		<style>
			:host {
				display: block;
				@apply(--layout-flex);
				@apply(--layout-vertical);
			}
			.flex {
				@aaply(--layout-flex);
			}
			.horizontal {
				@apply(--layout-horizontal);
				margin: 0.75%;
			}
			paper-card {
				@apply(--layout-flex);
			}
		</style>
		<div class="content">
			<img id="search-icon" style="height:6vw; margin:auto; padding-left: 5vw; padding-right:5vw;" hidden src="./images/search_icon.png" on-tap="searchIconTapped">
			<mg-tab-view id="tab-view" headers="[[headers]]" selected="my-poll"></mg-tab-view>
			<div class="horizontal">
				<mg-image-card></mg-image-card>
				<mg-image-card></mg-image-card>
			</div>
			<div class="horizontal">
				<mg-image-card></mg-image-card>
				<mg-image-card></mg-image-card>
			</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'main-page',

			properties: {
				headers: {
					type: Array,
					value: function() {
						return [{
              id: 'my-poll',
              title: 'MY POLL'
            }, {
              id: 'top',
              title: 'TOP 100'
            }, {
              id: 'tag',
              title: '# TAG'
            }]
					}
				}
			},

			ready: function() {
				var searchIcon = this.$['search-icon'];
				this.$['tab-view'].appendTab(searchIcon);
			},

			searchIconTapped: function(event) {
				console.log(event);
			}
		})
	</script>
</dom-module>
