<dom-module id="pp-top-poll-tab">
	<template>
		<style>
			#content {
				display: flex;
				flex-direction: row;
			}
			.left-container {
				width: 100%;
				height: fit-content;
				display: flex;
				flex-direction: column;
				margin: 0 1vw 2vw 2vw;
			}
			.right-container {
				width: 100%;
				height: fit-content;
				display: flex;
				flex-direction: column;
				margin: 0 2vw 2vw 1vw;
			}
		</style>

		<custom-ajax
			id="check-poll-histories-ajax">
		</custom-ajax>		

		<div id="content" class="content">
			<div class="left-container"></div>
			<div class="right-container"></div>
		</div>		
	</template>
	<script>
		Polymer({
			is: 'pp-top-poll-tab',

			properties: {
				/**
				 * Poll Items & query option
				 * @type Object
				 */
				data: {
					type: Object,
					observer: '_dataChanged'
				}
			},

			listeners: {
				'check-poll-histories-ajax.response': '_checkAjaxResponsed'
			},			

			_dataChanged: function(data) {
				if(!data || data.length == 0) {
					var isMyPollInformed = localStorage.myPollInformed ? localStorage.myPollInformed : false;
					if(this.page == 1 && !isMyPollInformed) this.alertNoData();
					return;
				};

				this._clearCards();

				for(var i = 0; i < data.length; i++) {
					var cardElement = document.createElement('mg-image-card');
					var baseUrl = localStorage.baseUrl ? localStorage.baseUrl : 'http://localhost:3000';

					if(data[i].user.attachmentId) {
						data[i].profileSrc = baseUrl + '/attachments/preview/' + data[i].user.attachmentId;	
					}
					if(data[i].attachmentId) {
						data[i].thumbnailSrc = baseUrl + '/attachments/preview/' + data[i].attachmentId;
					}

					cardElement.setData(data[i]);
					cardElement.addEventListener('tap', function(event) {
						var selectedPoll = event.currentTarget;
						if(selectedPoll.userId == JSON.parse(sessionStorage.userInfo).id) {
							page('/polls/chart/' + selectedPoll.id);
						} else {
							var checkPollHistoriesAjax = this.$['check-poll-histories-ajax'];
							checkPollHistoriesAjax.resourceUrl = 'poll_histories/' + selectedPoll.id;
							checkPollHistoriesAjax.generateRequest();
						}
					}.bind(this));

					var leftContainer = this.querySelector('.left-container');
					var rightContainer = this.querySelector('.right-container');

					var leftContainerHeight = leftContainer.scrollHeight;
					var rightContainerHeight = rightContainer.scrollHeight;
					
					if(leftContainerHeight <= rightContainerHeight) { // 왼쪽이 짧거나 같을 때 처리
						this.querySelector('.left-container').appendChild(cardElement);
					} else { //  오른족이 짧을때 처리
						this.querySelector('.right-container').appendChild(cardElement);
					}
				};
			},

			/**
			 * poll list 카드를 리셋
			 */
			_clearCards: function() {
				var content = this.querySelector('#content');
				while(content.childElementCount) {
					content.removeChild(content.firstChild);
				};

				var leftContainer = document.createElement('div');
				var rightContainer = document.createElement('div');
				leftContainer.classList.add('left-container');
				leftContainer.classList.add('style-scope');
				leftContainer.classList.add('pp-my-poll-tab');
				rightContainer.classList.add('right-container');
				rightContainer.classList.add('style-scope');
				rightContainer.classList.add('pp-my-poll-tab');

				content.appendChild(leftContainer);
				content.appendChild(rightContainer);
			},			

			_checkAjaxResponsed: function(event) {
				var pollId = event.detail.response.pollId;
				var pollHistories = event.detail.response.data;

				if(pollHistories) {
					page('/polls/chart/' + pollId);
				} else {
					page('/polls/join/' + pollId);
				}
			}
		})
	</script>
</dom-module>