<dom-module id="info-alert">
	<template>
		<style>
			:host {
				width: 100%;
			}
			#container {
				display: flex;
				flex-direction: column;
			}
			.title {
				display: block;
				font-size: 2vh;
				padding: 2%;
				text-align: center;
			}
			.msg {
				display: block;
				font-size: 1.8vh;
				color: #A3A3A3;
				padding: 2%;
				text-align: center;
			}
		</style>
		<div id="container">
			<div class="title">
				<span>[[title]]</span>
			</div>
			<div class="msg">
				<span>[[msg]]
			</div>
		</div>
	</template>
	<script>
		Polymer({
			is: 'info-alert',

			properties: {
				title: {
					type: String,
					value: "Inform!"
				},

				msg: {
					type: String,
					value: "Content text will be here."
				}
			}
		})
	</script>
</dom-module>