<dom-module id="free-poll-new-poll">
	<template>
		<style>
			:host {
				display: block;
				padding: 10px;
			}

			.input-container {
				@apply(--layout-vertical);
				@apply(--layour-flex);
			}
		</style>

		<free-poll-basic-info hidden="[[hideBasic]]"></free-poll-basic-info>
		<free-poll-detail-info hidden="[[hideDetail]]"></free-poll-detail-info>

	</template>
	<script>
		Polymer({
			is: 'free-poll-new-poll',

			properties: {

				name: {
					type: String
				},

				description: {
					type: String
				},

				fromDate: {
					type: String
				},

				toDate: {
					type: String
				},

				step: {
					type: String,
					value: 'basic',
					observer: 'stepChanged'
				}
			},

			stepChanged: function(step) {
				if(step == 'basic') {
					this.hideBasic = false;
					this.hideDetail = true;
				} else if (step == 'detail') {
					this.hideBasic = true;
					this.hideDetail = false;
				}
			}
		})
	</script>
</dom-module>