<dom-module id="new-poll">
	<template>
		<neon-animated-pages attr-for-selected="step" selected="[[step]]" entry-animation="slide-from-right-animation" exit-animation="slide-left-animation">
			<neon-animatable step="basic"><new-poll-basic step="{{step}}"></new-poll-basic></neon-animatable>
			<neon-animatable step="detail"><new-poll-detail step="{{step}}"></new-poll-detail></neon-animatable>
		</neon-animated-pages>
	</template>
	<script>
		Polymer({
			is: 'new-poll',

			properties: {

				name: {
					type: String
				},

				description: {
					type: String
				},

				fromDate: {
					type: String
				},

				toDate: {
					type: String
				},

				step: {
					type: String,
					value: 'basic'
				}
			}
		})
	</script>
</dom-module>