<dom-module id="new-poll-sheet">
  <template>
    <style>
      .flex {
        @apply(--layout-flex);
      }
      .horizontal {
        @apply(--layout-horizontal);
      }
      .vertical {
        @apply(--layout-vertical);
      }
      .center {
        @apply(--layout-center);
        height: 100px;
      }
      paper-item {
        padding-left: 2%;
        padding-right: 2%;
        background-color: white;
      }
      #opt-container paper-input {
        padding-left: 2%;
        padding-right: 2%;
      }
      .opt-item {
        @apply(--layout-horizontal);
        @apply(--layout-center);
      }
      div paper-toggle-button {
        padding-left: 3%;
        width: 80%;
      }
      div paper-input {
        padding-right: 3%;
        width: 20%;
      }
    </style>

    <paper-item>
      <paper-input class="flex" label="Question" value="{{question}}"></paper-input>
      <paper-icon-button icon="[[arrowIcon]]" on-tap="_toggleCollapse"></paper-icon-button>
		</paper-item>

    <iron-collapse id="collapse" opened>
      <iron-swipeable-container id="opt-container">
        <div class="opt-item">
          <paper-input class="flex" label="Option"></paper-input>
        </div>
      </iron-swipeable-container>

      <div class="vertical flex">
        <div class="horizontal">
          <paper-toggle-button checked="{{multyCheck}}">Multy Check</paper-toggle-button>
          <paper-input
            type="number"
            label="Limit"
            max="{{optCount}}"
            min="1"
            auto-validate
            error-message="Invalid Input!"
            value="{{multyCheckLimit}}"
            disabled="{{!multyCheck}}">
        </paper-input>
        </div>
        <paper-button on-tap="_appendOption">add</paper-button>
      </div>
    </iron-collapse>

  </template>
  <script>
    Polymer({
      is: 'new-poll-sheet',

      properties: {
        arrowIcon: {
					type: String,
					value: 'icons:arrow-drop-down'
				},

        multyCheck: {
          type: Boolean,
          value: false,
          observer: '_multyCheckChanged'
        },

        multyCheckLimit: {
          type: Number,
          value: 1
        },

        optCount: {
          type: Number,
          value: 1
        }
      },

      _toggleCollapse: function() {
        var collapse = this.$['collapse'];
				collapse.toggle();
				this.arrowIcon = (collapse.opened) ? 'icons:arrow-drop-up' : 'icons:arrow-drop-down';
      },

      closeCollapse: function() {
        this.$['collapse'].opened = false;
        this.arrowIcon = 'icons:arrow-drop-down';
      },

      _appendOption: function() {
        var optContainer = this.$['opt-container'];

        var optItem = document.createElement('div');
        optItem.setAttribute('class', 'opt-item');

        var input = document.createElement('paper-input');
        input.setAttribute('class', 'flex');
        input.setAttribute('label', 'Option');

        optItem.appendChild(input);
        optContainer.appendChild(optItem);
        this.optCount = optContainer.childElementCount;
        if(this.multyCheck) this.multyCheckLimit = this.optCount;
      },

      _multyCheckChanged: function(multyCheck) {
        if(multyCheck) {
          this.multyCheckLimit = this.optCount;
        } else {
          this.multyCheckLimit = null;
        }

      },

      returnValues: function() {
        var options = [];
        var optContainer = this.$['opt-container'];
        var optItems = optContainer.children;

        for(var i = 0; i < optItems.length; i++) {
          options.push(optItems[i].firstElementChild.value);
        };

        return {
          name: this.question,
          multyCheck: this.multyCheck,
          multyCheckLimit: (this.multyCheckLimit) ? this.multyCheckLimit : 1,
          options: options
        };
      }
    })
  </script>
</dom-module>
