<dom-module id="new-poll-basic">
	<template>
		<style>
			:host {
				display: block;
				padding: 10px;
			}

			.input-container {
				@apply(--layout-vertical);
				@apply(--layour-flex);
			}
		</style>

		<div class="input-container">
			<paper-input label="Title" value="{{name}}"></paper-input>
			<paper-input label="Description" value="{{description}}"></paper-input>
			<drop-down-list label="Category" resource-name="categories" value="{{categoryId}}"></drop-down-list>	
			<paper-input label="Start Date" value="{{fromDate}}" type="date"></paper-input>
			<paper-input label="Due Date" value="{{toDate}}" type="date"></paper-input>
		</div>

	</template>
	<script>
		Polymer({
			is: 'new-poll-basic',

			properties: {

				name: {
					type: String
				},

				description: {
					type: String
				},

				categoryId: {
					type: Number
				},

				fromDate: {
					type: String
				},

				toDate: {
					type: String
				},

				step: {
					type: String,
					notify: true
				}
			},

			validate: function() {
				if(this.name && this.description && this.categoryId && this.fromDate && this.toDate) {
					return true;
				} else {
					return false;
				}
			}
		})
	</script>
</dom-module>