<dom-module id="new-poll-detail">
	<template>
		<style>
			.input-container {
				@apply(--layout-vertical);
			}
		</style>

		<custom-ajax
			id="regist-poll-ajax"
			resource-url="polls/regist"
			method="POST"
			content-type="application/x-www-form-urlencoded"
			handle-as="json">
		</custom-ajax>

		<div class="input-container">
			<template is="dom-repeat" items="[[questionList]]">
				<accordion-poll-detail title="[[item.name]]" options="[[item.options]]"></accordion-poll-detail>
			</template>
		</div>

	</template>
	<script>
		Polymer({
			is: 'new-poll-detail',

			properties: {

				basicInfo: {
					type: Object,
				},
				questionList: {
					type: Array,
					value: []
				},

				step: {
					type: String,
					notify: true
				}
			},

			ready: function() {
				document.addEventListener('question-added', function(event) {
					var questionObj = {
						name: event.detail.name,
						options: event.detail.options
					};
					this.push('questionList', questionObj);
				}.bind(this));

				document.addEventListener('swipe-to-down', function() {
					if(app.route == 'new_poll' && this.step == 'detail') this.addDialogOpen();
				}.bind(this));

				document.addEventListener('swipe-to-left', function() {
					if(app.route == 'new_poll' && this.step == 'detail') this.registPoll();
				}.bind(this));
			},

			addDialogOpen: function() {
				var addDialog = document.createElement('new-poll-add-dialog');
				this.fire('dialog-open', {
					content: addDialog,
					openCallback: null,
					closeCallback: null,
					dialogConfig: {
						modal: false,
						entryAnimation: 'slide-from-top-animation',
						exitAnimation: 'slide-up-animation'
					}
				});
			},

			validate: function() {
				if(this.basicInfo && this.questionList && this.questionList.length > 0) {
					return true;
				} else {
					return false;
				}
			},

			registPoll: function() {
				if(this.validate()) {
					var registPollAjax = this.$['regist-poll-ajax'];
					registPollAjax.body = {
						name: this.basicInfo.name,
						description: this.basicInfo.description,
						category_id: this.basicInfo.categoryId,
						from_date: this.basicInfo.fromDate,
						to_date: this.basicInfo.toDate,
						question_list: JSON.stringify(this.questionList)
					};
					
					registPollAjax.generateRequest();
				}
			}
		})
	</script>
</dom-module>