<dom-module id="new-poll-basic">
	<template>
		<style>
			:host {
				display: block;
				padding: 10px;
			}

			.input-container {
				@apply(--layout-vertical);
				@apply(--layour-flex);
			}
		</style>

		<div class="input-container">
			<paper-input label="Title" value="{{name}}"></paper-input>
			<paper-input label="Description" value="{{description}}"></paper-input>
			<drop-down-list label="Category" resource-name="categories" value="[[categoryId]]"></drop-down-list>	
			<paper-input label="Start Date" value="{{fromDate}}" type="date"></paper-input>
			<paper-input label="Due Date" value="{{toDate}}" type="date"></paper-input>
			<paper-button id="confirm-btn" on-tap="confirmBtnTapped" disabled>Confirm</paper-button>
		</div>

	</template>
	<script>
		Polymer({
			is: 'new-poll-basic',

			properties: {

				name: {
					type: String
				},

				description: {
					type: String
				},

				fromDate: {
					type: String
				},

				toDate: {
					type: String
				},

				step: {
					type: String,
					notify: true
				}
			},

			observers: [
				'validateCheck(name,description,fromDate,toDate)'
			],

			validateCheck: function(name, description, fromDate, toDate) {
				if(name && description && fromDate && toDate) {
					this.$['confirm-btn'].disabled = false;
				} else {
					this.$['confirm-btn'].disabled = true;
				}
			},

			confirmBtnTapped: function() {
				this.step = 'detail';
			}
		})
	</script>
</dom-module>