<dom-module id="new-poll-basic">
	<template>
		<style>
			:host {
				display: block;
				padding: 10px;
			}

			.input-container {
				@apply(--layout-vertical);
				@apply(--layour-flex);
			}
		</style>

		<div class="input-container">
			<paper-input label="Title" value="{{name}}"></paper-input>
			<paper-input label="Description" value="{{description}}"></paper-input>
			<drop-down-list label="Category" resource-name="categories" value="{{categoryId}}"></drop-down-list>	
			<paper-input label="Start Date" value="{{fromDate}}" type="date"></paper-input>
			<paper-input label="Due Date" value="{{toDate}}" type="date"></paper-input>
		</div>

	</template>
	<script>
		Polymer({
			is: 'new-poll-basic',

			properties: {

				name: {
					type: String,
					notify: true
				},

				description: {
					type: String,
					notify: true
				},

				categoryId: {
					type: Number,
					notify: true
				},

				fromDate: {
					type: String,
					notify: true
				},

				toDate: {
					type: String,
					notify: true
				},

				step: {
					type: String,
					notify: true
				}
			},

			getBasicInfo: function() {
				return {
					name: this.name,
					description: this.description,
					categoryId: this.categoryId,
					fromDate: this.fromDate,
					toDate: this.toDate
				};
			},

			validate: function() {
				if(this.name && this.description && this.categoryId && this.fromDate && this.toDate) {
					return true
				} else {
					return false;
				}
			},

			clearValue: function() {
				this.name = null;
				this.description = null;
				this.categoryId = null;
				this.fromDate = null;
				this.toDate = null;
			}
		})
	</script>
</dom-module>