<script src="../../../bower_components/chart.js/dist/Chart.js"></script>

<dom-module id="poll-chart-bar">
  <template>
    <style>
      :host {
        display: block;
        @apply(--layout-vertical);
        @apply(--layout-flex);
      }
    </style>
    <div id="chart-section"></div>
  </template>
  <script>
    Polymer({
      is: 'poll-chart-bar',

      properties: {
        options: {
          type: Array,
          observer: '_optionsChanged'
        }
      },

      _optionsChanged: function(options) {
        var labels = [];
        var backgroundColor = [];
        var borderColor = [];
        var data = [];

        options.forEach(function(option) {
          var label = option.name;
          var randomColor = '#' + Math.round(Math.random() * 0xFFFFFF).toString(16);

          labels.push(option.name);
          data.push(option.count);
          backgroundColor.push(randomColor);
          borderColor.push(randomColor);
        });
        
        if(!this.canvas) this.canvas = document.createElement('canvas');
        
        this.$['chart-section'].appendChild(this.canvas);

        var barChart = new Chart(this.canvas, {
          type: 'bar',
          data: {
            labels: labels,
            datasets: [{
              data: data,
              borderWidth: 0,
              borderColor: borderColor,
              backgroundColor: backgroundColor              
            }]            
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  stepSize: 1
                }
              }]
            }
          }          
        });
      }
    })
  </script>
</dom-module>
