<dom-module id="poll-chart-line">
  <template>
    <style>
      :host {
        display: block;
        @apply(--layout-vertical);
        @apply(--layout-flex);
      }
    </style>
    <span>라인 차트</span>
    <div id="chart-section"></div>
  </template>
  <script>
    Polymer({
      is: 'poll-chart-line',

      properties: {
        options: {
          type: Array,
          observer: '_optionsChanged'
        }
      },

      _optionsChanged: function(options) {
        options.forEach(function(option) {
          this.setBarChart(option);
        }.bind(this));
      },

      setBarChart: function(option) {
        var label = option.name;
        var labels = [];
        var backgroundColor = [];
        var borderColor = [];
        var data = [];
        var randomColor = '#' + Math.round(Math.random() * 0xFFFFFF).toString(16);

        labels.push(option.name);
        data.push(option.count);
        backgroundColor.push(randomColor);
        borderColor.push(randomColor);

        var canvas = document.createElement('canvas');
        canvas.setAttribute('id', 'chart-line-' + option.id);
        this.$['chart-section'].appendChild(canvas);

        var barChart = new Chart(canvas, {
          type: 'line',
          data: {
            labels: labels,
            datasets: [{
              label: label,
              data: data,
              borderWidth: 1,
              borderColor: borderColor,
              backgroundColor: backgroundColor              
            }]
          },
          options: {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true,
                  stepSize: 1
                }
              }]
            }
          }
        });
      }
    })
  </script>
</dom-module>
