<dom-module id="poll-chart-table">
  <template>
    <style>
      .title {
        font-weight: bold;
      }
      .space {
        width: 3%;
      }
      .option {
        opacity: 0.5;
      }
      .count {
        text-align: right;
        opacity: 0.5;
      }
    </style>
    <span>테이블 차트</span>
    <table width="100%">
      <template is="dom-repeat" items="[[questionDetail]]">
        <tr>
          <td class="title" colspan="3">[[item.name]]</td>
        </tr>

        <template is="dom-repeat" items="[[item.options]]">
          <tr>
            <td class="space"></td>
            <td class="option">[[item.name]]</td>
            <td class="count">[[item.count]]</td>
          </tr>
        </template>
      </template>
    </table>
  </template>
  <script>
    Polymer({
      is: 'poll-chart-table',

      properties: {
        questionDetail: {
          type: Array
        }
      },

      showDetail: function() {
        console.log('questionDetail', this.questionDetail);
      }
    })
  </script>
</dom-module>
