<dom-module id="free-poll-my-poll">
	<template>
		<style>
			:host {
				display: block;
				padding: 10px;
			}		
		</style>
		<iron-ajax
			auto
		 	url="http://localhost:3000/my_polls"
		 	handle-as="json"
		 	last-response="{{pollList}}">
 		</iron-ajax>

		<template is="dom-repeat" items="[[pollList]]">
			<free-poll-accordion-list item="[[item]]"></free-poll-accordion-list>		
		</template>

		<free-poll-dialog id= "dialog"></free-poll-dialog>
	</template>
	<script>
		Polymer({
			is: 'free-poll-my-poll',

			properties: {

				pollList: {
					type: Array
				}
			},

			_openDetail: function(event) {
				var collapseId = event.model.item.id;
				this.$$(collpaseId).toggle();
			},

			_addNewPoll: function() {
				var content = document.createElement('free-poll-new-poll');
				this.$['dialog'].openDialog(content, null, null)
			}
		})
	</script>
</dom-module>