<dom-module id="my-poll">
	<template>
		<style>
			:host {
				display: block;
				padding: 10px;
			}
			paper-fab {
				@apply(--layout-vertical-reverse);
				position: fixed;
				bottom: 3%;
				right: 5%;
			}
		</style>
		<custom-ajax
			id="poll-ajax"
		 	handle-as="json"
		 	resource-url="polls/my_polls"
		 	last-response="{{pollList}}">
 		</custom-ajax>

		<template is="dom-repeat" items="[[pollList]]">
			<accordion-my-poll-list item="[[item]]"></accordion-my-poll-list>
		</template>

		<paper-fab mini icon="icons:add" on-tap="createNewPoll"></paper-fab>
	</template>
	<script>
		Polymer({
			is: 'my-poll',

			properties: {
				pollList: {
					type: Array
				}
			},

			ready: function() {
				document.addEventListener('refresh-poll-list', function(event) {
					this.$['poll-ajax'].generateRequest();
				}.bind(this))
			},

			_openDetail: function(event) {
				var collapseId = event.model.item.id;
				this.$$(collpaseId).toggle();
			},

			createNewPoll: function() {
				page('/new_poll');
			}
		})
	</script>
</dom-module>
