<dom-module id="my-poll">
	<template>
		<style>
			:host {
				display: block;
				padding: 10px;
			}		
		</style>
		<iron-ajax
			id="poll-ajax"
		 	handle-as="json"
		 	last-response="{{pollList}}">
 		</iron-ajax>

		<template is="dom-repeat" items="[[pollList]]">
			<accordion-list item="[[item]]"></accordion-list>		
		</template>
	</template>
	<script>
		Polymer({
			is: 'my-poll',

			properties: {

				pollList: {
					type: Array
				}
			},

			attached: function(userId) {
				var pollAjax = this.$['poll-ajax'];
				pollAjax.url = 'http://localhost:3000/polls/' + 1;
				pollAjax.generateRequest();
			},

			_openDetail: function(event) {
				var collapseId = event.model.item.id;
				this.$$(collpaseId).toggle();
			}
		})
	</script>
</dom-module>