<dom-module id="my-poll">
	<template>
		<style>
			:host {
				display: block;
				padding: 10px;
			}		
		</style>
		<custom-ajax
			id="poll-ajax"
		 	handle-as="json"
		 	resource-url="polls/my_polls"
		 	last-response="{{pollList}}">
 		</custom-ajax>

		<template is="dom-repeat" items="[[pollList]]">
			<accordion-list item="[[item]]"></accordion-list>		
		</template>
	</template>
	<script>
		Polymer({
			is: 'my-poll',

			properties: {
				pollList: {
					type: Array
				}
			},

			ready: function() {
				document.addEventListener('refresh-poll-list', function(event) {
					this.$['poll-ajax'].generateRequest();
				}.bind(this))
			},

			_openDetail: function(event) {
				var collapseId = event.model.item.id;
				this.$$(collpaseId).toggle();
			}
		})
	</script>
</dom-module>